{% extends 'base.html' %}

{% block title %}
Basket
{% endblock %}

{% block head %}
    <script src="{{ url_for('cart.static', filename='js/write_cookies.js') }}" defer></script>

    <link rel="stylesheet" href="{{ url_for('cart.static', filename= '/css/cart.css') }}">
{% endblock %}

{% block content %}
    <div class="already-auth">
        <div class="pages">
            <a href="/">HOME</a>
            <a href="/shop/" class="shop-page">SHOP</a>
            <a href="/cart/">CART</a>
            <a href="/contacts/">CONTACTS</a>
            {% if is_admin %}
                <a href="/admin/">ADMIN</a>
            {% endif %}
            


            {% if valuetf %}
                <div class="cart-value1">
                    <h3 class="cart-value">0</h3>
                </div>
            {% endif %}
        </div> 
        <h2>{{user}}</h2>
    {% if check_basket %}
        </div>
            <div class="basket-menu">
                <div class="basket-of-products">
                    {% for product in products %}
                        <div class="product-in-basket">
                            <img src="{{ url_for('shop.static', filename= '/imgs/' + product[1] + '.png') }}">
                            <h1 class="name-of-product">{{ product[-1] }}</h1>
                            <div class="counter-of-product">    
                                <button class="minus-count" id="1">-</button>
                                <p class="count-of-product" id="1">0</p>
                                <button class="plus-count" id="1">+</button>
                            </div>
                            <p class="price-of-product">{{ product[2] }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class = "order">
            <button class="continie-order">Перейти до оформлення</button>
            <div class="original-price">
                <p class="original-count"></p>
                <h4 class="original-price-p"></h4>
            </div>
            <div class="discount">
                <p class="discount-p1">Знижка</p>
                <h4 class="discount-p">0 грн</h4>
            </div>
            <div class="total-price">
                <p class="ttl-prc-p1">Загальна сума</p>
                <h4 class="total-price-p"></h4>
            </div>
        </div>
        <div class= "modal-window" style="display: none;">
            <form method="post" enctype="multipart/form-data" class="modal-form" style="height: 1050px;">
                <p class="title-order">оформлення замовлення</p>
                <p class="name-order text-data-new">Ім'я:</p>
                <input type="text" name="orderName" class="orderName">
    
                <p class="surname-order text-data-new">Прізвище:</p>
                <input type="text" name="orderSurname"class="orderSurname">
    
                <p class="number-order text-data-new">Номер телефона замовника:</p>
                <input type="text" name="orderNumber" class="orderNumber">
                
                <p class="email-order text-data-new">Email замовника:</p>
                <input type="email" name="orderEmail" class="orderEmail">
                
                <p class="city-order text-data-new" >Місто отримувача:</p>
                <input type="text" name="orderCity" class="orderCity">
                
                <p class="nova-poshta-order text-data-new">Відділення нової пошти:</p>
                <input type="text" name="orderPoshta" class="orderPoshta">
                
                <p class="wishes-order text-data-new" >Додаткові побажання:</p>
                <textarea type="text" name="orderWishes" class="orderWishes"></textarea>
                
                <button type="submit" name="submit-change" class="submit-change" value="">SEND</button>
            </form>
        </div>
    {% else %}
    <div class="basket-menu">
        <h1>Ваша корзина порожня...</h1>
    </div>
    {% endif %}
{% endblock %}

