/* Registration */
form{
    box-sizing: border-box;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 17px;
    
    width: 450px;
    height: 650px;
    
    border: 3px solid #000000;
    border-radius: 25px;
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
}

input{
    margin-top: auto;
    margin-bottom: auto;
    /* Input Login */

    box-sizing: border-box;
    
    /* position: absolute; */
    width: 370px;
    height: 56px;
    /* left: 40px;
    top: 59px; */
    
    border: 2px solid #000000;
    border-radius: 10px;
    
}

p{
    /* Login */

    /* position: absolute; */
    width: 370px;
    height: 27px;
    /* left: 40px;
    top: 22px; */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    color: #000000;


}
button{
        /* Button SEND */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    width: 204px;
    height: 56px;

    border: 2px solid #000000;
    border-radius: 10px;

    /* Inside auto layout */
    flex: none;
    order: 4;
    flex-grow: 0;

}
.reg{
        /* Registration */

    position: absolute;
    width: 1400px;
    height: 33px;
    left: 90%;
    top: 9px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: right;
    text-decoration-line: underline;
    text-transform: uppercase;

    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;

}

a{
    /* Registration */

    right: 3%;
    bottom: 4%;

    width: 190px;
    height: 33px;
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: right;
    text-decoration-line: underline;
    text-transform: uppercase;

    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}
div{
    /* Modal  confirmed */

    box-sizing: border-box;
    
    top: 25%;
    left: 32%;
    /* right: 25%; */

    position: absolute;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    isolation: isolate;

    width: 700px;
    height: 350px;

    background: #FFFFFF;
    border: 3px solid #000000;
    border-radius: 25px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

h1{
    /* Confirmed */

    top: 25%;
    left: 32%;

    width: 441px;
    height: 95px;

    position: absolute;
    box-sizing: border-box;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;

}
.bg1{
    position: absolute;
    left: 0px;
    top: 0px;
    border: 0px;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
}